# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=84fc7be7-9397-4241-b0f9-9f6d0d882755
ALCHEMY_API_KEY=
COINMARKETCAP_API_KEY=
ETHERSCAN_API_KEY=
SUPABASE_DB_POSTGRES_URL="postgresql://nextjs@localhost:5432/realbetui?schema=public"
SUPABASE_DB_POSTGRES_URL_NON_POOLING="postgresql://nextjs@localhost:5432/realbetui?schema=public"
HELIUS_API_KEY=
TOKEN_MASTER_SIGNER_PRIVATE_KEY=
TESTNET_SIGNER_PRIVATE_KEY=
DUNE_API_KEY=