@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tusker Grotesk';
  src:
    url('../assets/fonts/TuskerGrotesk-3600Semibold.ttf') format('truetype'),
    url('../assets/fonts/TuskerGrotesk-3600Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LD MonoLine Outline';
  src: url('../assets/fonts/LD_MonoLine_Outline-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LD MonoLine Solid';
  src: url('../assets/fonts/LD_MonoLine_Solid-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../assets/fonts/Aeonik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../assets/fonts/Aeonik-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../assets/fonts/Aeonik-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --primary-intermediate-1: 350 90% 75%;
    --primary-intermediate-2: 356 92% 70%;
    --primary-intermediate-3: 360 94% 65%;
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --background-light: 0 0% 6.7%;
    --background-light-foreground: 0 0% 100%;
    --background-lighter: 0 0% 16.5%;
    --background-lighter-foreground: 0 0% 100%;
    --background-lightest: 0 0% 60%;
    --background-lightest-foreground: 0 0% 100%;
    --input: 0% 0% 80%;
    --input-border: var(--background-lighter);
    --card: var(--background-light);
    --card-foreground: 0 0% 100%;
    --popover: var(--background-light);
    --popover-foreground: 0 0% 100%;
    --primary: 0 100% 81%;
    --primary-foreground: var(--background);
    --muted: #7f7f7f;
    --muted-foreground: var(--background-lightest);
    --accent: 356 92% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 97% 33%;
    --destructive-foreground: var(--foreground);
    --border: var(--background-lightest);
    --ring: 240 10% 20%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --font-aeonik: 'Aeonik';
    --font-tusker-grotesk: 'Tusker Grotesk';
    --font-monoline: 'LD MonoLine Solid';
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
